# Environment variables
.env

# Binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out 

# Log files but not the logs directory itself
logs/*
!logs/.gitkeep